.about-company {
  background-color: #ffffff;
  font-family: "DM Sans", sans-serif;
  justify-content: space-between;
}
.about-company .container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding-top: 20px;
  /*  grid-template-columns: repeat(1, 1fr 1fr); */
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.about-company .container .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
  position: relative;
}
@media (max-width: 992px) {
  .about-company .container .content {
    display: none;
  }
}
.about-company .container .content img {
  width: 80%;
  height: auto;
  z-index: 0;
}
.about-company .container .content .image-box-text {
  display: flex;
  flex-direction: column;
  background-color: #BEEBFF;
  width: 368px;
  height: 180px;
  position: absolute;
  top: 60%;
  right: 50%;
  z-index: 2;
  padding: 3%;
  row-gap: 10px;
}
.about-company .container .content .image-box-text h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  justify-content: space-around;
  color: #191919;
}
.about-company .container .content .image-box-text h4 span {
  color: #f94d1c;
}
.about-company .container .content .image-box-text p {
  color: #191919;
  font-weight: 500;
  font-style: italic;
  font-family: "Inter";
  font-size: 16px;
}
.about-company .container .content h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #f94d1c;
  justify-content: space-around;
}
.about-company .container .content p {
  font-size: 45px;
  padding-left: 0px;
  padding-left: 0px;
  font-weight: 700;
}
.about-company .container .about-company-items {
  /* display: grid;
  grid-template-rows: 1fr;
  row-gap: 10px;
  height: 100%; */
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.about-company .container .about-company-items h3 {
  color: #F94D1C;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 16px;
}
.about-company .container .about-company-items p {
  color: #191919;
  font-size: 16px;
}
@media only screen and (max-width: 1000px) and (min-width: 997px) {
  .about-company .container .about-company-items p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 45px;
    padding-left: 0px;
  }
}
@media only screen and (max-width: 997px) and (min-width: 768px) {
  .about-company .container .about-company-items p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250%;
    margin: 16px;
    padding-left: 0%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 640px) {
  .about-company .container .about-company-items p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 190%;
    margin: 10px;
  }
}
@media only screen and (max-width: 640px) and (min-width: 575px) {
  .about-company .container .about-company-items p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 210%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 572px) and (min-width: 542px) {
  .about-company .container .about-company-items p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 541px) and (min-width: 420px) {
  .about-company .container .about-company-items p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 150%;
    margin-left: 10%;
  }
}
@media only screen and (max-width: 420px) and (min-width: 360px) {
  .about-company .container .about-company-items p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin-left: 10%;
  }
}
.about-company .container .about-company-items h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  width: 500px;
}
@media only screen and (max-width: 1000px) and (min-width: 997px) {
  .about-company .container .about-company-items h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 270%;
    margin: 45px;
    font-size: 45px;
    padding-left: 0px;
    font-weight: 700;
  }
}
@media only screen and (max-width: 997px) and (min-width: 768px) {
  .about-company .container .about-company-items h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250%;
    margin: 16px;
    font-size: 45px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 640px) {
  .about-company .container .about-company-items h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250%;
    margin: 10px;
    font-size: 40px;
  }
}
@media only screen and (max-width: 640px) and (min-width: 575px) {
  .about-company .container .about-company-items h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 210%;
    font-size: 45px;
    margin-left: 10%;
    font-weight: 700;
  }
}
@media only screen and (max-width: 572px) and (min-width: 542px) {
  .about-company .container .about-company-items h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200%;
    font-size: 45px;
    margin-left: 10%;
    font-weight: 700;
  }
}
@media only screen and (max-width: 541px) and (min-width: 420px) {
  .about-company .container .about-company-items h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 150%;
    font-size: 45px;
    margin-left: 10%;
    font-weight: 700;
  }
}
@media only screen and (max-width: 420px) and (min-width: 360px) {
  .about-company .container .about-company-items h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    font-size: 45px;
    margin-left: 10%;
    font-weight: 700;
  }
}
.about-company .container .play-button-text {
  /* display: grid;
  grid-template-columns: auto 1fr; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
}
@media only screen and (max-width: 1000px) and (min-width: 997px) {
  .about-company .container .play-button-text {
    display: flex;
    flex-direction: column;
    width: 300%;
    margin-left: 7%;
    padding: 0%;
  }
}
@media only screen and (max-width: 997px) and (min-width: 768px) {
  .about-company .container .play-button-text {
    width: 250%;
    margin-left: 7%;
    margin-bottom: 20px;
    padding: 0%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 640px) {
  .about-company .container .play-button-text {
    width: 230%;
    margin-left: 0%;
    margin-bottom: 20px;
    padding: 0%;
  }
}
@media only screen and (max-width: 640px) and (min-width: 575px) {
  .about-company .container .play-button-text {
    width: 250%;
    margin-left: 7%;
    margin-bottom: 20px;
    padding: 0%;
  }
}
@media only screen and (max-width: 572px) and (min-width: 542px) {
  .about-company .container .play-button-text {
    width: 200%;
    margin-left: 7%;
    margin-bottom: 20px;
    padding: 0%;
  }
}
@media only screen and (max-width: 541px) and (min-width: 420px) {
  .about-company .container .play-button-text {
    width: 150%;
    margin-left: 7%;
    margin-bottom: 20px;
    padding: 0%;
  }
}
@media only screen and (max-width: 420px) and (min-width: 360px) {
  .about-company .container .play-button-text {
    width: 100%;
    margin-left: 7%;
    margin-bottom: 20px;
    padding: 0%;
  }
}
.about-company .container .play-button-text .center-content p {
  padding-left: 20px;
  padding-top: 10px;
}
@media only screen and (max-width: 1000px) and (min-width: 997px) {
  .about-company .container .play-button-text .center-content p {
    width: 100%;
    margin-left: 2%;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 572px) and (min-width: 542px) {
  .about-company .container .play-button-text .center-content p {
    width: 80%;
    margin-left: 2%;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 541px) and (min-width: 420px) {
  .about-company .container .play-button-text .center-content p {
    width: 60%;
    margin-left: 2%;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 420px) and (min-width: 360px) {
  .about-company .container .play-button-text .center-content p {
    width: 80%;
    margin-left: 2%;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 10px;
  }
}